  <% flash.each do |type, message| %>
    <%# Map flash types to corresponding Tailwind CSS classes %>
    <% flash_class = case type
        when "notice" then "bg-green-100 text-green-800 border-green-300"
        when "alert" then "bg-red-100 text-red-800 border-red-300"
        else "bg-gray-100 text-gray-800 border-gray-300"
      end %>

    <div class="border-l-4 p-4 mb-4 <%= flash_class %>">
      <p><%= message %></p>
    </div>
  <% end %>
