  <div class="min-h-screen flex flex-col justify-center items-center bg-gradient-to-r from-indigo-100 via-purple-100 to-pink-100 px-4">
    <div class="bg-white p-8 sm:p-12 rounded-lg shadow-xl w-full max-w-screen-lg mx-auto text-center">
      <h1 class="text-4xl sm:text-5xl font-extrabold text-gray-900 mb-6 sm:mb-8">Rails 8 - Basic Auth</h1>
      <p class="text-base sm:text-lg text-gray-600 mb-6 sm:mb-8">
        A platform to explore Rails 8 features. Use the links below to navigate.
      </p>

  <!-- Link Pages -->

  <!-- Link Letter Opener -->

    </div>
  </div>
